.next-to {
    display: inline-block;
    width: 50%;
}

.next-to-mobile {
    padding: 0 0 0 2em;
}

.graph-mobile {
    margin-top: 3em;
}

.y-axis-font {
    font-size: 10px;
}

.recharts-tooltip-wrapper p {
    color: #e4e4e4;
}

.white-content .recharts-tooltip-wrapper p {
    color: #1a1a1c;
}