body {
    color: #1976d2;
}

h1 {
    text-align: center;
}

.profile-name {
    text-align: center;
}

.favourites {
    background-color: grey;
}

.form-dashboard {
    margin-bottom: 1em;
}

.button-dashboard {
    margin-right: 1em;
}

.center {
    text-align: center;
}

.individual-sections {
    background-color: '#36393F';
    border-radius: '15px';
    text-align: 'center';
}

/* @media (min-width: 500px) { */
    .dashboard {
        margin: 2em;
    }
    .btns {
        display: inline;
    }
/* } */