@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: #1a1a1c;
}

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coin-input {
  width: 300px;
  border-radius: 4px;
  background-image: linear-gradient(
    -225deg,
    #1c1c1c 20%,
    #1976d2 48%,
    #e2e2e2 90%
  );
}

.coin-input::placeholder {
  color: #e2e2e2;
}

.imageID {
  height: 20px;
}

.headers {
  text-align: center;
}

table, th, td {
  border: 1px solid white;
}

.CoinPageTable td {
  display: inline-block;
}

.text-success {
  color: green;
}

.text-danger {
  color: red;
}

/* nav {
  display: flex;
} */

.white-content {
  background: #e4e4e4;
  color: #1a1a1c;
}
a {
  color: #FFF;
}

a:hover {
  color: white;
}

button:hover {
  color: white;
}

.link {
  color: white;
}
.link:hover {
   color: #1976d2
}

.blue {
  color: #ffffff;
  margin-left: 0.3em;
}

p {
  color: #1976d2;
}

.white-content .link {
  color: #1a1a1c;
}

.white-content .link:hover {
  color: #1976d2
}

.chart__container {
  display: block;
}

.coin-container {
  max-width: 960px;
  margin: 0 auto;
}

.current-price {
  text-align: left;
}

.current-price p {
  display: inline-block;
  margin: 0 10px 0 0;
}

.color-background {
  background-color: #1a1a1c;
  margin: 50px 0 0 0;
}

.color-background p {
  text-align: left;
}

.dropdown-item {
  display: block;
}

.dropdown-menu {
  display: none;
}

.dropdown-menu.show {
  display: block;
  background-color: #1976d2;
  text-align: center;
}

.MuiTable-root {
  background-color: #1a1a1c;
}

.white-content .MuiTable-root {
  background-color: #e4e4e4;
}

.white-content .MuiTableCell-root {
  color: #1a1a1c;
  border: 1px solid #1a1a1c;
}

/* Change this */

.white-content .coin-name {
  color: #1a1a1c;
}

.white-content .blue {
  color: #1a1a1c;
}

.white-content .color-background {
  background-color: #e4e4e4;
}

.white-content .home-button {
  color: #1976d2;
}

.white-content .table-pagination {
  background-color: #e4e4e4;
  color: #1a1a1c;
  border-color: #1a1a1c;
  border-style: none solid solid solid;
  border-width: 1px;
}

.white-content .table-header {
  background-color: #e4e4e4;
}

.white-content .table-header-cell {
  color: #1a1a1c;
}

.CoinPageTable {
  display: inline-block;
}

.image-name p {
  display: inline-block;
}

.twenty-four-change p {
  display: inline;
  margin-right: 0.5em;
}
@media only screen and (min-width: 600px) {
  .image-table {
    height: 25px;
    margin-right: 0.5em;
    vertical-align: middle;
  }
}

@media only screen and (max-width: 500px) {
  .image-table {
    height: 25px;
    vertical-align: middle;
  }
}

.right-area {
  margin: 7px 0 0 470px;
}

.navbar-left p {
  display: inline-block;
  margin: 0 30px 0 0;
}

.title-coin {
  margin-top: 1em;
}

.text-box {
  width: 100%;
  margin: 0 0 30px 0;
}

.next-to {
  display: inline-block;
  width: 50%;
}

.hidden {
  visibility: hidden;
}

.MuiPaper-root {
  background-color: #1a1a1c !important;
}

.MuiList-root {
  background-color: #e2e2e2;
}

.white-content .MuiPaper-root {
  background-color: #e4e4e4 !important;
}

.MuiTablePagination-root {
  background-color: #e2e2e2;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #1976d2 !important;
}

.total-coin-info {
  color: #1976d2;
  margin-right: 1em;
}

.coin-navbar {
  color: #e2e2e2;
}

.investment-box {
  margin: 0 auto;
  margin-bottom: 2em;
  padding: 0.5em;
  background-color: #36393F;
  border-radius: 15px;
  text-align: center;
  max-width: 20em;
}