@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #1a1a1c;
  color: #e4e4e4;
}

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coin-search {
  margin-bottom: 64px;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.coin-text {
  margin-bottom: 32px;
  text-align: center;
}

.coin-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );

  color: #e2e2e2;
}

.coin-input::placeholder {
  color: #e2e2e2;
}

.imageID {
  height: 20px;
}

.headers {
  text-align: center;
}

table, th, td {
  border: 1px solid white;
}

.CoinPageTable td {
  display: inline-block;
}

.text-success {
  color: green;
}

.text-danger {
  color: red;
}

nav {
  display: flex;
}

.white-content {
  background: #e4e4e4;
  color: #1a1a1c;
}
a {
  color: #FFF;
}

a:hover {
  color: #00f;
}

.link {
  color: white;
}
.link:hover {
   color: #1976d2
}

.blue {
  color: #1976d2;
}

.white-content .link {
  color: #1a1a1c;
}

.white-content .link:hover {
  color: #1976d2
}

.chart__container {
  display: block;
}

.coin-container {
  max-width: 960px;
  margin: 0 auto;
}

.current-price {
  text-align: left;
}

.current-price p {
  display: inline-block;
  margin: 0 10px 0 0;
}

.color-background {
  background-color: #1a1a1c;
  margin: 50px 0 0 0;
}

.color-background p {
  text-align: left;
}

.dropdown-item {
  display: block;
}

.dropdown-menu {
  display: none;
}

.dropdown-menu.show {
  display: block;
  background-color: #1976d2;
  text-align: center;
}

.MuiTable-root {
  background-color: #1a1a1c;
}

.white-content .MuiTable-root {
  background-color: #e4e4e4;
}

.white-content .MuiTableCell-root {
  color: #1a1a1c;
  border: 1px solid #1a1a1c;
}

.white-content a {
  color: #1a1a1c;
}

.white-content .color-background {
  background-color: #e4e4e4;
}

.white-content .home-button {
  color: #1976d2;
}

.CoinPageTable {
  display: inline-block;
}

.image-name p {
  display: inline-block;
}

.twenty-four-change p {
  display: inline-block;
  margin: 0 15px 0 0;
}

.image-table {
  height: 25px;
}

.left-area p {
  display: inline-block;
  margin: 0 50px 0 0;
}

.right-area {
  margin: 7px 0 0 470px;
}

.navbar-left p {
  display: inline-block;
  margin: 0 30px 0 0;
}

.title-coin {
  text-align: center;
}

.text-box {
  width: 100%;
  margin: 0 0 30px 0;
}

.next-to {
  display: inline-block;
  width: 50%;
}

.hidden {
  visibility: hidden;
}

.MuiPaper-root {
  background-color: #1a1a1c !important;
}

.white-content .MuiPaper-root {
  background-color: #e4e4e4 !important;
}

.white-content .left-area p {
  color: black;
}